*, ::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
img{ vertical-align: bottom;}
button{ cursor: pointer;}
:disabled{ cursor: not-allowed;}

@font-face {
    font-family: pb;
    src: url(../fonts/proxima-nova-bold.woff2);
}

@font-face{
    font-family: pl;
    src:url(../fonts/proxima-nova-light.woff2) format("woff2");
}
@font-face {
    font-family: pr;
    src: url(../fonts/proxima-nova-regular.woff2) format('woff2');
}

h1, h2, h3, h4, b, th, strong{ font-family: pb, sans-serif;}
body{
    font-family: pl, sans-serif;
}

.container{
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}
.row [class^="col"]{
    flex: 1 1 auto;
    padding: 0 15px;
}

.row .col-1{ flex-basis: 8.33%;}
.row .col-2{ flex-basis: 16.66%;}
.row .col-3{ flex-basis: 25%;}
.row .col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.row .col-5{ flex-basis: 41.66%;}
.row .col-6{flex-basis: 50%;}
.row .col-7{flex-basis: 58.33%;}
.row .col-8{flex-basis: 66.66%; max-width: 66.66%;}
.row .col-9{flex-basis: 75%;}
.row .col-10{flex-basis: 83.33%;}
.row .col-11{flex-basis: 91.66%;}
.row .col-12{flex-basis: 100%;}

/* layout */
.wrap-1 .row{  align-items: center; }
.wrap-1{ background:#000 ; color: #fff;}
.wrap-1 h1{ font-size: 30px;}
.wrap-1 h1 a{ color: inherit; line-height: 80px; display: inline-block;}
.wrap-1 nav{ margin-left: -20px; }
.wrap-1 nav ul{ list-style: none; padding: 0; display: flex; }
.wrap-1 nav ul li{ margin: 0 5px; }
.wrap-1 nav ul li a{ display: block; color: inherit; line-height: 80px; font-family: pr, sans-serif;  padding: 0 15px;} 
.wrap-1 nav ul li a:hover{ color: #ca3c3c;}
.btn{ width: 90px; height: 35px; border: 2px solid; color: #ca3c3c; background: transparent; border-radius: 10px; font: 16px pr,sans-serif;}

.wrap-1 .btn{ float: right;}

.wrap-2{ background: #666; color: #fff;}
.video{ display: flex;  align-items: center; padding: 200px 0; }
.video button{ font-size: 150px; background: transparent; border: none; color: inherit; margin-right: 40px;}
.video button:active{  color: #ca3c3c;}
.video p.lg{ font-size: 60px;}
.video a{ color: #ca3c3c; font-family: pr, sans-serif; }

h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid; margin-top: 25px;}
.wrap-3{ background: #ca3c3c; color: #fff; padding: 20px 0;}
.feature{ display: flex; align-items: center; margin: 30px 0;}
.circle{ width: 100px; height: 100px; border: 2px solid; border-radius: 50%; text-align: center; line-height: 96px; flex-shrink: 0; margin-right: 30px;}
.circle span.fa{ font-size: 36px; vertical-align: middle}
.feature div:nth-child(2){ padding-left: 0px;}

.wrap-4{ background: #fff; color: #ca3c3c; font-size: 36px; text-align: center; line-height: 150px;}

.wrap-5{  background: #ebebeb; color: #363636; padding: 70px 0;}
.wrap-5 .btn{ margin: 30px 0;}
.btn.active{ background: #ca3c3c; color: #fff; border-color: #ca3c3c;}
.work{ position: relative; margin-top: 30px; overflow: hidden; }
.work .over{ position: absolute; background: #fff; text-align: center; left: 0; right: 0; bottom: -100px; display: flex; flex-flow: wrap column;  justify-content: center; height: 100px; transition: 500ms; }
.over h3{ color: #ca3c3c; font-size: 18px; line-height: 30px;}
.over p{ color: #898989; font-size: 14px;}
.work:hover .over{ bottom: 0; }

.wrap-6{ background: #666; color: #fff; text-align: center; padding: 50px 0;}
.justify-center{ justify-content: center;}
.slider{ }
.slider .slide{ display: none; }
.slider .slide.active{ display: block;}
.slider blockquote{ font-size: 36px;}
.slider img{ border-radius: 50%; margin: 10px 0;}
.pager{ list-style: none; padding: 0; margin-top: 20px;}
.pager li{ display: inline-block; margin: 0 5px; }
.pager li a{ display: inline-block; width: 10px; height: 10px; border-radius: 50%; border: 2px solid #fff;}
.pager li a.active{ background: #fff;}

.wrap-7{ background: #fff; color: #363636; padding: 70px 0;}
.team{  position: relative;}
.social{ position: absolute; right: 60px; top: 60px; }
.social ul{list-style: none; padding: 0; display: flex; }
.social ul li{ margin-left: 10px; }
.social ul li a{  display: block; width: 50px; line-height: 50px; border-radius: 50%; background: #ca3c3c; color: #fff; text-align: center; font-size: 24px;}
.gap{ margin: 50px 0 0 100px;}
.gap h3{ color: #ca3c3c;}

.wrap-8{ padding: 85px 0; background: #666; color:#fff; text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.lg{ font-size: 72px;}
.wrap-8 b{ font-size: 18px; }

.wrap-9{ background: #fff; color: #363636; padding: 70px 0;}
.wrap-10{ background: #ca3c3c;  padding: 23px 0;}
.wrap-10 form{ display: flex; justify-content: space-between; }
.wrap-10 form input{  background: transparent; border: none; width: 370px; height: 34px; color: #fff; padding: 0; font: 36px pl, sans-serif;}
.wrap-10 form input::placeholder{ color: #fff;}
.wrap-10 form input:focus{ outline: none; }
.wrap-10 form button{ background: #fff; }

.wrap-11{ background: #7f7f7f;  padding: 30px 0; }
.wrap-11 .box{ line-height: 95px; background: #a6a6a6; text-align: center; color: #fff;}

.wrap-12{ background: #ebebeb; color: #363636; padding: 70px 0;}
.wrap-12 address{ font-size: 14px; line-height: 30px;}
.wrap-12 form{ }
.wrap-12 form label{ display: block; border: 2px solid #363636; padding: 15px;  margin: 15px 0;}
.wrap-12 form label input{ border: none; background: transparent; }
.wrap-12 form label textarea{ border: none; background: transparent; vertical-align: top; resize: none; }
.wrap-12 form button{ border: none; background: #fff; color: #ca3c3c; width: 100%;  margin: 15px 0; height: 98px; font-size: 16px; border-radius: 10px;}
.wrap-12 form button span.fa{ font-size: 36px;  vertical-align: middle;}

.wrap-13{ text-align: center; background: #252525; padding: 50px 0; color: #555;}
.wrap-13 p:first-child{ color: #fff; font-size: 24px;}